.footer
  table(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td.content-block
          span.apple-link ABM STUDIO, Kopernika 22, 33-170 Tuchów, Tel: 665-665-025
          br
          |  Don't like these emails? 
          a(href=`${url}/me`) Unsubscribe